<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>TeleStorage - {{ title }}</title>
    <link rel="stylesheet" href="../static/css/global.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>

<body data-path-to-root="../" data-include-products="false" class="u-body u-xl-mode" data-lang="ru">
    <header class="u-black u-clearfix u-header u-header" id="sec-a7a0" style="display: flex">
        <a href="/" class="u-image u-logo u-opacity u-opacity-65 u-image-1" data-image-width="1920"
            data-image-height="1200">
            <img src="../static/img/logo.jpeg" class="u-logo-image u-logo-image-1">
        </a>
        <p style="float: right; transform: translate(-55px, 8px);">
            {{ current_user.login }}
        </p>
        {% if current_user.is_authenticated %}
        <a class="u-border-2 u-border-white u-btn u-button-style u-hover-white u-text-hover-black"
            style="float: right; transform: translate(-25%, -5%); border-radius: 10px;" href="/logout">Logout
        </a>
        {% endif %}

    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-d41f" style="margin: 50px 0 0 0;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">We need more storage! </p>
        </div>
    </footer>
</body>

</html>