{% extends "base.html" %}

{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>TeleStorage - {{ title }}</title>
    <link rel="stylesheet" href="static/css/global.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script>
    function postFile() {
        var formdata = new FormData();

        formdata.append('file1', $('#file1')[0].files[0]);

        var request = new XMLHttpRequest();

        request.upload.addEventListener('progress', function (e) {
            var file1Size = $('#file1')[0].files[0].size;

            if (e.loaded <= file1Size) {
                var percent = Math.round(e.loaded / file1Size * 100);
                $('#progress-bar-file1').width(percent + '%').html(percent + '%');
            }

            if (e.loaded == e.total) {
                $('#progress-bar-file1').width(100 + '%').html(100 + '%');
            }
        });

        request.open('post', '/home');
        request.timeout = 45000;
        request.send(formdata);
        request.addEventListener("load", function () {
            window.location.href = "/home";
        });
    }
</script>
<form method="post" enctype="multipart/form-data" class="u-align-center">
    <h3>Upload a file:</h3>
    <div class="element"><input id="file1" type="file"></div>
    <div class="element">
        <button class="button_submit" type="button" onclick="postFile()">Upload File</button>
    </div>
    <div class="progress-wrapper">
        <div id="progress-bar-file1" class="progress"></div>
    </div>
</form>
<form class="u-align-left" method="post">
    <div class="data_used_label">
        <h3>
            <font color=#9e9e9e> Used storage: </font> {{used_storage}}
            <input type="submit" class="button_delete_mode" name="delete_mode_button" value="Delete mode">
        </h3>
    </div>
</form>

{% for item in files%}
<div class="box_for_file">

    <div class="file_name">
        <h4>
            <font color=#9e9e9e> Name: </font>
            <font color=#000000> {{item.name}} </font>
        </h4>
    </div>
    {% if item.id not in tasks %}
        <button class="button_operate_files" onclick="location.href='/logout'">Download</button>
        {% if delet_mode_selected %}
        <button class="button_operate_files" onclick="location.href='/delete/{{item.id}}'">Delete</button>
        {% endif %}
    {%else %}
        <h3>
        <font color=#9e9e9e> azazazaza
        </h3>
    {% endif %}



    <h4>
        <font color=#9e9e9e> Size: </font>
        <font color=#000000> {{item.displaysize}} </font>
    </h4>
</div>
{% endfor %}

{% endblock %}