{% extends "base.html" %}

{% block content %}
<body data-path-to-root="../" data-include-products="false" class="u-body u-xl-mode" data-lang="ru">
<section class="u-clearfix u-section-1" id="sec-0afa">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-shading u-size-40 u-image-1"
                         data-image-width="4000" data-image-height="2362">
                        <div class="u-container-layout u-container-layout-1">
                            <h3 class="u-text u-text-default u-text-1">
                                <span class="u-text-palette-2-base">FREE</span> Cloud sorage
                            </h3>
                            <p class="u-text u-text-2">Yo-ho-ho! And a bottle of rum!</p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <a href="/register"
                               class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-1">Join us</a>
                            <a href="/login"
                               class="u-align-center u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-text-hover-white u-btn-2">Login</a>
                            <p class="u-align-center u-text u-text-3">Join us to get unlimited space for files and share your personal data ;)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}